*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}

body{
	background-color:#dcdcdc;
	display:flex;
	justify-content:center;
	align-items:center;
}
#main{
	margin-top:150px;
	background-color:grey;
	display:flex;
	flex-direction:column;
	padding:20px;
}
#input1{
	border:0px;
	padding:5px 10px 5px 10px;
	margin-bottom:15px;
}
#btn{
	border:0px;
	outline:0px;
	background-color:rgb(47,79,79);
	color:white;
	padding:5px;
	border-radius:5px;
	margin-bottom:15px;
}
#para{
	color:white;
	font-size:1.2em;
	display:none;
}